$base-size: 4px;

$size-1: $base-size * 1;
$size-2: $base-size * 2;
$size-3: $base-size * 3;
$size-4: $base-size * 4;
$size-5: $base-size * 5;
$size-6: $base-size * 6;

$grid-col-1: $size-2 * 1;
$grid-col-2: $size-2 * 2;
$grid-col-3: $size-2 * 3;

$radius-xs: $size-1;
$radius-s: $size-2;
$radius-m: $size-3;




