name: CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - name: Repo checkout
        uses: actions/checkout@v2
        # Repo checkout under $GITHUB_WORKSPACE
        
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          # cache: 'npm' ?
          
      - name: Install packages
        run: yarn install
        
      - name: Run unit test locally
        run: yarn test:unit
        
      - name: Deploy to preview
        id: vercel-preview
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          scope: ${{ secrets.VERCEL_ORG_ID }}
          
      - name: Run unit test against Vercel preview
        env:
          VERCEL_URL: ${{ steps.vercel-preview.outputs.preview-url }}
          # see doc at https://github.com/amondnet/vercel-action#outputs
        run: yarn test:unit
        
      - name: Deploy to production 
        id: vercel-production
        uses: amondnet/vercel-action@v20
        if: ${{ github.event_name == 'pull_request' && github.ref == 'refs/heads/master' }}
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID_TL_ENGINE }}
          scope: ${{ secrets.VERCEL_ORG_ID }}
          vercel-args: '--prod'
